$primary: #1d7874;
$secondary: #524738;
$ternary: #a09f9d;

// Override default variables before the import
$theme-colors: (
  "primary": $primary,
);
// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

body {
  color: theme-color();
  overflow-y: scroll;
}
