@import "../../custom.scss";

.Book {
  padding: 12px;
  margin: 4px;
  font-size: 0.8rem;
  text-align: left;
  position: relative;
  border-top: 1px solid $ternary;
}

.Title {
  font-size: 1.4rem;
  padding-bottom: 6px;
}

.ResultNumber {
  font-size: 0.8rem;
  color: $ternary;
}

.Details {
  color: $secondary;
}

.Author {
  padding-left: 5px;
  color: $primary;
}

.HorizSeparator {
  margin-left: 11px;
  margin-right: 11px;
  color: $ternary;
}

.Pages {
  position: relative;
  color: $ternary;
}
